@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Serif", serif;
  --font-manrope: "Manrope", sans-serif;
  --font-plex: "IBM Plex Mono", monospace;
}
/* body {
  background: black;
  color: white;
  font-family: var(--font-manrope);
}
h1 {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.25rem;
  font-weight: 500;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
} */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.line {
  will-change : transform;
  transform:  translateY(100%)
  
}
@layer components {
  .title {
    @apply h-[85svh]  flex items-center;
  }
  .title-container {
    @apply relative w-full flex items-center justify-center will-change-transform;
  }
  .hero {
    @apply h-screen w-full relative  overflow-hidden flex flex-col justify-center items-center;
  }
  .hero-img {
    @apply absolute  w-full h-full;
  }
  .trail-container {
    @apply absolute w-full h-full overflow-hidden z-2;
  }
  .trail-img {
    @apply absolute w-[175px] h-[175px] pointer-events-none;
  }
  .mask-layer {
    @apply absolute top-0 left-0 w-full h-full bg-black;
  }
  .img-layer {
    @apply absolute top-0 left-0 w-full h-full bg-cover bg-center;
  }
  .image-trail {
    @apply absolute w-[175px] h-[175px] top-0 left-0 object-cover opacity-0 pointer-events-none;
  }
  .preloader-copy {
    @apply flex flex-col gap-5 w-full ;
  }
  .preloader-counter {
    @apply flex justify-end w-full;
  }
  .nav {
    @apply w-full top-0 left-0 fixed flex justify-between items-center uppercase p-5 font-semibold z-1 bg-black text-white;
  }
  .hero-sec {
    @apply relative w-full h-screen overflow-hidden will-change-transform;
  }
  .hero-sec-img{
    @apply absolute top-0 left-0 w-full h-full will-change-transform
  }
}
