@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import "tailwindcss";

@theme   {
  --font-instrument: "Instrument Serif", serif;
}
body {
  background: black;
  color: white;
}
