@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  --site-gutter: 1rem;
  --site-padding: 1rem;
  --site-margin: 1rem;
}
@theme {
  --font-instrument: "Instrument Serif", serif;
  --font-manrope: "Manrope", sans-serif;
  --font-plex: "IBM Plex Mono", monospace;
  --font-stack: "Stack Sans Notch", sans-serif;
}
/* body {
  background: black;
  color: white;
  font-family: var(--font-manrope);
}
h1 {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.25rem;
  font-weight: 500;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
} */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.line {
  will-change: transform;
  transform: translateY(100%);
}
.grid-layout {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  column-gap: var(--site--gutter);
  row-gap: var(--site--gutter);
  --_column-count---value: 4;
  grid-template-rows: auto auto auto auto;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
  display: grid;
}
.grid-overlay {
  column-gap: var(--site-gutter);
  row-gap: var(--site-gutter);
  --_column-count---value: 12;
  grid-template-rows: auto;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
  flex-flow: column;
  display: grid;
  position: absolute;
  padding: 0px 16px;
  inset: 0;
}
[data-flip-id="paragraph"] {
  font-size: clamp(22px, 2.5vw, 40px);
  line-height: 1;
}

/* layout 1 */
[data-layout="1"] [data-flip-id="logo"] {
  grid-area: 1/1/3/3;
  align-self: start;
}
[data-layout="1"] [data-flip-id="menu"] {
  grid-area: 1/3/3/5;
  place-self: start end;
}
[data-layout="1"] [data-flip-id="image-card"] {
  grid-area: 2/3/3/5;
  align-self: end;
  justify-self: start;
}
[data-layout="1"] [data-flip-id="paragraph"] {
  grid-area: 2/1/5/3;
  align-self: end;
}

/* layout 2 */
[data-layout="2"] [data-flip-id="logo"] {
  grid-area: 4/1/5/2;
  align-self: start;
}
[data-layout="2"] [data-flip-id="menu"] {
  grid-area: 1/3/3/5;
  place-self: start end;
}
[data-layout="2"] [data-flip-id="image-card"] {
  grid-area: 1/1/2/2;
  align-self: end;
  justify-self: start;
}

@media (max-width: 768px) {
  [data-layout="2"] [data-flip-id="image-card"] {
    grid-area: 1/1/2/3;
    align-self: start;
  }
}

[data-layout="2"] [data-flip-id="paragraph"] {
  grid-area: 2/3/5/5;
  align-self: end;
}

/* layout 3 */
[data-layout="3"] [data-flip-id="logo"] {
  grid-area: 3/1/5/5;
  align-self: start;
}
[data-layout="3"] [data-flip-id="menu"] {
  grid-area: 1/3/3/5;
  place-self: start end;
}
[data-layout="3"] [data-flip-id="image-card"] {
  grid-area: 3/3/4/4;
  align-self: center;
  justify-self: center;
}

@media (max-width: 967px) {
  [data-layout="3"] [data-flip-id="image-card"] {
    grid-area: 3/3/3/5;
    
  }
}

[data-layout="3"] [data-flip-id="paragraph"] {
  grid-area: 1/1/3/3;
  align-self: end;
}

@layer components {
  .title {
    @apply h-[85svh]  flex items-center;
  }
  .title-container {
    @apply relative w-full flex items-center justify-center will-change-transform;
  }
  .hero {
    @apply h-screen w-full relative  overflow-hidden flex flex-col justify-center items-center;
  }
  .hero-img {
    @apply absolute  w-full h-full;
  }
  .trail-container {
    @apply absolute w-full h-full overflow-hidden z-2;
  }
  .trail-img {
    @apply absolute w-[175px] h-[175px] pointer-events-none;
  }
  .mask-layer {
    @apply absolute top-0 left-0 w-full h-full bg-black;
  }
  .img-layer {
    @apply absolute top-0 left-0 w-full h-full bg-cover bg-center;
  }
  .image-trail {
    @apply absolute w-[175px] h-[175px] top-0 left-0 object-cover opacity-0 pointer-events-none;
  }
  .preloader-copy {
    @apply flex flex-col gap-5 w-full;
  }
  .preloader-counter {
    @apply flex justify-end w-full;
  }
  .nav {
    @apply w-full top-0 left-0 fixed flex justify-between items-center uppercase p-5 font-semibold z-1 bg-black text-white;
  }
  .hero-sec {
    @apply relative w-full h-screen overflow-hidden will-change-transform;
  }
  .hero-sec-img {
    @apply absolute top-0 left-0 w-full h-full will-change-transform;
  }
  .object{
    @apply absolute  text-2xl max-lg:text-lg w-max  bg-black text-white  rounded-[10rem] p-5 cursor-grab  pointer-events-auto z-2 select-none;
  }
  .object:active {
  @apply cursor-grabbing;
}
}
body {
  background-color: black;
}

