@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  --site-gutter: 1rem;
  --site-padding: 1rem;
  --site-margin: 1rem;
}
@theme {
  --font-instrument: "Instrument Serif", serif;
  --font-manrope: "Manrope", sans-serif;
  --font-plex: "IBM Plex Mono", monospace;
  --font-stack: "Stack Sans Notch", sans-serif;
}
/* 3. Base Layer (Global Resets) */


/* body {
  background: black;
  color: white;
  font-family: var(--font-manrope);
}
h1 {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.25rem;
  font-weight: 500;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
} */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.line {
  will-change: transform;
  transform: translateY(100%);
}
.grid-layout {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  column-gap: var(--site--gutter);
  row-gap: var(--site--gutter);
  --_column-count---value: 4;
  grid-template-rows: auto auto auto auto;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
  display: grid;
}
.grid-overlay {
  column-gap: var(--site-gutter);
  row-gap: var(--site-gutter);
  --_column-count---value: 12;
  grid-template-rows: auto;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
  flex-flow: column;
  display: grid;
  position: absolute;
  padding: 0px 16px;
  inset: 0;
}
[data-flip-id="paragraph"] {
  font-size: clamp(22px, 2.5vw, 40px);
  line-height: 1;
}

/* layout 1 */
[data-layout="1"] [data-flip-id="logo"] {
  grid-area: 1/1/3/3;
  align-self: start;
}
[data-layout="1"] [data-flip-id="menu"] {
  grid-area: 1/3/3/5;
  place-self: start end;
}
[data-layout="1"] [data-flip-id="image-card"] {
  grid-area: 2/3/3/5;
  align-self: end;
  justify-self: start;
}
[data-layout="1"] [data-flip-id="paragraph"] {
  grid-area: 2/1/5/3;
  align-self: end;
}

/* layout 2 */
[data-layout="2"] [data-flip-id="logo"] {
  grid-area: 4/1/5/2;
  align-self: start;
}
[data-layout="2"] [data-flip-id="menu"] {
  grid-area: 1/3/3/5;
  place-self: start end;
}
[data-layout="2"] [data-flip-id="image-card"] {
  grid-area: 1/1/2/2;
  align-self: end;
  justify-self: start;
}

@media (max-width: 768px) {
  [data-layout="2"] [data-flip-id="image-card"] {
    grid-area: 1/1/2/3;
    align-self: start;
  }
}

[data-layout="2"] [data-flip-id="paragraph"] {
  grid-area: 2/3/5/5;
  align-self: end;
}

/* layout 3 */
[data-layout="3"] [data-flip-id="logo"] {
  grid-area: 3/1/5/5;
  align-self: start;
}
[data-layout="3"] [data-flip-id="menu"] {
  grid-area: 1/3/3/5;
  place-self: start end;
}
[data-layout="3"] [data-flip-id="image-card"] {
  grid-area: 3/3/4/4;
  align-self: center;
  justify-self: center;
}

@media (max-width: 967px) {
  [data-layout="3"] [data-flip-id="image-card"] {
    grid-area: 3/3/3/5;
  }
}

[data-layout="3"] [data-flip-id="paragraph"] {
  grid-area: 1/1/3/3;
  align-self: end;
}

/* @layer components {
  .title {
    @apply h-[85svh]  flex items-center;
  }
  .title-container {
    @apply relative w-full flex items-center justify-center will-change-transform;
  }
  .hero {
    @apply h-screen w-full relative  overflow-hidden flex flex-col justify-center items-center;
  }
  .hero-img {
    @apply absolute  w-full h-full;
  }
  .trail-container {
    @apply absolute w-full h-full overflow-hidden z-2;
  }
  .trail-img {
    @apply absolute w-[175px] h-[175px] pointer-events-none;
  }
  .mask-layer {
    @apply absolute top-0 left-0 w-full h-full bg-black;
  }
  .img-layer {
    @apply absolute top-0 left-0 w-full h-full bg-cover bg-center;
  }
  .image-trail {
    @apply absolute w-[175px] h-[175px] top-0 left-0 object-cover opacity-0 pointer-events-none;
  }
  .preloader-copy {
    @apply flex flex-col gap-5 w-full;
  }
  .preloader-counter {
    @apply flex justify-end w-full;
  }
  .nav {
    @apply w-full top-0 left-0 fixed flex justify-between items-center uppercase p-5 font-semibold z-1 bg-black text-white;
  }
  .hero-sec {
    @apply relative w-full h-screen overflow-hidden will-change-transform;
  }
  .hero-sec-img {
    @apply absolute top-0 left-0 w-full h-full will-change-transform;
  }
  .object {
    @apply absolute  text-2xl max-lg:text-lg w-max  bg-black text-white  rounded-[10rem] p-5 cursor-grab  pointer-events-auto z-2 select-none;
  }
  .object:active {
    @apply cursor-grabbing;
  }
  .card {
    @apply h-[5em] p-20 bg-blue-400 flex items-center justify-center;
  }
} */

@layer component {
  /* .card {
    @apply relative  flex items-center justify-center rounded-2xl w-[300px] h-[400px] bg-gray-700 overflow-hidden;
  } */
}
body {
  background-color: rgb(180, 167, 167)
}


@keyframes spinn {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

@utility spinc {
  animation: spinn 10s infinite linear;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@utility animate-gradient {
  background-size: 300% 300%;
  animation: gradient-move 6s ease infinite;
}

/* .box::after,
.box::before {
  content: "";
  position: absolute;
  inset: -4px;
  z-index: -1;
  background: conic-gradient(
    from var(--angle),
    #d84972,
    #eee17e,
    #7ed796,
    #b46bc8,
    #d84972
  );
}

.box::before {
  filter: blur(20px);
  opacity: 0.7;
  z-index: -2;
}
.box:hover::after {
  animation: glow-border 3.5s linear infinite;
}

.box:hover::before {
  animation:
    blur-anim 3.5s linear infinite,
    glow-border 3.5s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes glow-border {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes blur-anim {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(19px);
  }
} */

/* .card::before , .card::after {
  content: "";
  position: absolute;
}
.card::before {
  width: 200%;
  height: 200%;
  background-image: conic-gradient(
    #d84972 0deg,
    transparent 60deg,
    transparent 180deg,
    #cf6d89 180deg,
    transparent 240deg
  );
  inset: -50%;
  z-index: 2;
  animation: border-animation 4s linear infinite;
}
.card:hover::before {
  animation-play-state: paused;
}
.card::after {
  --inset: 4px;
  background: black;
  inset: var(--inset);
  border-radius: 12px;
  transition: all 0.3s linear;
  z-index:2 ;
}
@keyframes border-animation {
  to {
    transform: rotate(-360deg);
  }
} */
/* .tag::after,
.tag::before {
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  position: absolute;
}

.tag::after {
  background: transparent;
  top: -1.125rem;
  right: 0;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0.375rem 0.375rem black;
}
.tag::before {
  background: transparent;
  top: -28px;
  right: 0.49rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0.375rem 0.375rem white;
}
.circle {
  clip-path: circle(50% at 100px 0px);
}

.ellipse {
  clip-path: ellipse(40px 80px at center);
}
.inset {
  clip-path: inset(20px 40px 50px 1px round 50px);
}

.polygon {
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
}
.path {
  clip-path: path("M 10,40 L 70, 40 L 80,10 L 70 , 190 Z");
}
 */

.card {
  clip-path: polygon(
    45% 9%,
    59% 0,
    100% 0,
    100% 100%,
    68% 100%,
    0 100%,
    0 75%,
    0% 43%,
    0 9%
  );
  overflow: hidden;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-dash {
  animation: dash 2s ease-out forwards;
}