@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Serif", serif;
  --font-manrope: "Manrope", sans-serif;
}
body {
  background: black;
  color: white;
  font-family: var(--font-manrope);
}
h1 {
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.25rem;
  font-weight: 500;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@layer components {
  .title {
    @apply h-[85svh]  flex items-center;
  }
  .title-container {
    @apply relative w-full flex items-center justify-center will-change-transform;
  }
}
